.white-space-nowrap{
    white-space: nowrap;
}

.w-30{
    width: 33.3333331%;
}

.first-letter-capitalize{
    text-transform: lowercase;
    display: inline-block;
    &::first-letter{
        text-transform: capitalize;
    }
}

.all-words-capitalize{
    text-transform: capitalize;
}

.line-height-1{
    line-height: 1;
}

.line-height-1-2{
    line-height: 1.2;;
}


.line-height-20{
    line-height: 1.4;
}

.line-height-16{
    line-height: 16px;
}

.p-b-5{
    padding-bottom: 5px;
}

.p-t-5{
    padding-top: 5px;
}

.p-t-59{
    padding-top: 59px;
}

.p-r-7{
    padding-right: 7px;
}

.p-r-12{
    padding-right: 12px;
}

.p-r-44{
    padding-right: 44px;
}

.p-r-88{
    padding-right: 88px;
}

.p-x-11{
    padding-left: 11px;
    padding-right: 11px;
}

.p-x-62{
    padding-left: 62px;
    padding-right: 62px;
}

.p-y-59{
    padding-top: 59px;
    padding-bottom: 59px;
}

.p-y-67{
    padding-left: 67px;
    padding-right: 67px;
}

.p-y-97{
    padding-left: 97px;
    padding-right: 97px;
}

.p-l-10{
    padding-left: 10px;
}

.p-l-12{
    padding-left: 12px;
}

.p-l-26{
    padding-left: 26px;
}

.p-l-44{ 
    padding-left: 44px;
}

.m-r-6{
    margin-right: 6px;
}

.m-r-8{
    margin-right: 8px;
}

.m-r-13{
    margin-right: 13px;
}

.m-r-16{
    margin-right: 16px;
}

.m-r-47{
    margin-right: 47px;
}

.m-l-13{
    margin-left: 13px;
}

.m-l-30{
    margin-left: 30px;
}

.m-r-20{ 
    margin-right: 20px;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-14{
    margin-top: 14px;
}

.m-t-16{
    margin-top: 16px;
}

.m-t-19{
    margin-top: 19px;
}

.m-t-21{
    margin-top:21px;
}

.m-t-24{
    margin-top:24px;
}

.m-t-25{
    margin-top:25px;
}

.m-t-30{
    margin-top:30px;
}

.m-t-34{
    margin-top:34px;
}

.m-t-46{
    margin-top: 46px;
}

.m-t-51{
    margin-top: 51px;
}

.m-t-57{
    margin-top: 57px;
}

.m-t-59{
    margin-top: 59px;
}

.m-t-95{
    margin-top: 95px;
}

.m-b-5{
    margin-bottom: 5px;
}

.m-b-6{
    margin-bottom: 6px;
}

.m-b-8{
    margin-bottom: 8px;
}

.m-b-9{
    margin-bottom: 9px;
}

.m-b-12{
    margin-bottom: 12px;
}

.m-b-16{
    margin-bottom: 16px;
}


.m-b-20{
    margin-bottom: 20px;
}

.m-b-22{
    margin-bottom: 22px;
}

.m-b-24{
    margin-bottom: 24px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-26{
    margin-bottom: 26px;
}

.m-b-29{
    margin-bottom: 29px;
}

.m-b-32{
    margin-bottom: 32px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-60{
    margin-bottom: 60px;
}

.display-block{
    display: block;
}