$white: #ffffff;
$black: #000000;

$red-regular: #BF0404;
$orange-regular: #F47C34;
$green-regular: #049D74;
$purple-regular: #493B77;
$purple-strong: #504572;
$purple-light: #645889;
$dimgray-light-1: #F7F7F7;
$dimgray-light-2: #0000001C;
$dimgray-light-3: #E8E8E8;
$dimgray-light-4: #F0EDF5;
$dimgray-light-5: #E1E2E6;
$dimgray-light-6: #F2F2F2;

$gray-regular-1: #999CA8;
$gray-regular-2: #707070;
$gray-regular-3: #7A7C86;
$gray-regular-4: #383943;

$lato-hair: "Lato-Hairline", sans-serif;
$lato-light: "Lato-Light", sans-serif;
$lato-regular: "Lato-Regular", sans-serif;
$lato-bold: "Lato-Bold", sans-serif;
$lato-black: "Lato-Black", sans-serif;